<div id="mainholder">
  <div id="header">
    <div class="main">            
      <div class="logo">
        <a href="index.html">
          <%= image_tag "#{I18n.locale}/logo.gif", :width => 346, :height => 40 %>
        </a>
      </div>
      <div class="navi">
        <%= render "navigation" %>
      </div>
    </div>
  </div>
  <div class="main_content text">
    <h1>联系我们</h1>
    <p>
      <span id="result_box2" lang="zh-CN" xml:lang="zh-CN">如果您需要技术支持或者对我们的服务有任何意见.</span><br /><br />
        请发邮件至 <a href="mailto:support@leap4.net">support@leap4.net</a>.<span id="result_box3" lang="zh-CN" xml:lang="zh-CN">我们会在24小时内回复您. </span><br />
              <span id="result_box4" lang="zh-CN" xml:lang="zh-CN">您也可以查看"配置手册/FAQ页面"来尝试解决您的问题.</span><br />
      <br />
      有些用户的邮箱因为安全机制过于严谨,我们们回复的邮件会出现他们的垃圾邮件箱里.请在您的邮箱管理中将我们的邮箱地址加入到白名单或可信任的地址中,当您无法接收到我们的邮件时,请检查您的垃圾邮件箱,然后将我们的邮件标记为不是"垃圾邮件". </p>
  </div>
</div>