<div id="mainholder">
    <div id="header">
        <div class="main">
            <%= render "navigation" %>
        </div>
    </div>
    <div class="main_content text">
        <h1>Contact Us</h1>
        <p>
            Have questions about our service or need assistance with your account?<br /><br />
            Please write to <a href="mailto:support@leap4.net">support@leap4.net</a>. We will respond within 24 hours. <br />
            Feel free to also check our HowTo/FAQ Page for a list of common issues and solutions.<br /><br />
            Some customers have had problems where our email responses to their questions got stuck in their spam filters. (so they thought we didn't respond) Please add our email address to your email service's list of allowed addresses, and if you're waiting on a response from us, check your spam folder, then mark any message from us there as &quot;Not Spam&quot;
        </p>
    </div>
</div>