<div id="mainholder">
    <div id="header">
        <div class="main">
         
      <div class="logo"><a href="index.html">
        <%= image_tag "#{I18n.locale}/logo.gif", :width => 346, :height => 40 %>
      </a></div>
   
        <div class="navi">
          <%= render "navigation" %>
        </div>
      </div>
    </div>
    <div class="main_content text">
      <h1>FAQ</h1>
        <dl>
          <dt>Q1.我是联通的3G用户,无法在3G状态下拨上VPN</dt>
            <dd>A：部分联通的3G用户(186号码)可能无法在3G状态下拨上VPN。因为联通对部分地区和号码的PPTP VPN连接做了限制，所以建议无法在3G下成功拨号的用户可以在WiFi下尝试拨号，如果WiFi下可以正常连接，就可以确认为您的号为限制号，您可以拨打10010转人工服务要求重新刷新网络，按客服要求10分钟后重启手机,就可以了，联通3G并未限制L2TP的连接方式，所以您也参考HowTo页面中的L2TP连s接设置，或点此下载想要了解联通限制VPN连接情况的用户可以查阅以下2个连接，或者按照关键字"联通 3G PPTP VPN 限制" 在google中进行搜索。            <br />
              <br />
            <a href="#">相关资料1</a><br />
            <a href="#">相关资料2</a></dd>
      </dl>
        <dl>
        <dt>Q2.我是联通/电信的宽带用户,无法拨上VPN</dt>
            <dd>A：如果您是联通的宽带用户，请参考问题1，如果您是电信的用户，出现无法拨上VPN的情况一般来说是光纤宽带接入并且光猫使用了动态获取IP的方式进行上网才导致这种情况的，您可以致电10000号电信客户服务热线要求工程师上门将您的宽带连接方式换成PPPoE拨号的方式即可拨上VPN(PPPoE和动态IP只是获取IP的方式不一样，您仍旧是光纤用户，并不影响您宽带的速度)</dd>
      </dl>
        <dl>
          <dt>Q3.我在WiFi下无法拨上VPN</dt>
            <dd>A：如果您是在商业环境下(比如他人的公司、商场)连入的WiFi，可能是该环境的网络管理员出于安全或某种考量在网络上做了限制，请换个WiFi环境进行尝试，如果您是在自己家里，确认排除以上两种情况后，可能是您的无线路由器太旧不支持VPN协议，一般来说2010以后购买的无线路由器都是支持VPN连接的。如果您无法确认您的无线路由器是否支持VPN连接，您可以将路由器底部的具体型号记下发送到 <a href="mailto:support@leap4.net">support@leap4.net</a>，我们会为您查阅您的设备是否支持VPN连接。</dd>
      </dl>
        <p>如果您有任何其他问题,请联系 <a href="mailto:support@leap4.net">support@leap4.net</a> ，谢谢。</p>
    </div>
</div>