<div id="mainholder">
    <div id="header">
        <div class="main">
         
      <div class="logo">
        <a href="index.html">
          <%= image_tag "#{I18n.locale}/logo.gif", :width => 346, :height => 40 %>
        </a>
      </div>
  
        <div class="navi">
          <%= render "navigation" %>
        </div>
      </div>
    </div>
    <div class="main_content text">
      <h1 class="ht">Leap4.Net 配置手册 </h1>
        <h3><span id="result_box2" lang="zh-CN" xml:lang="zh-CN">请按您使用的操作系统下载配置手册.</span></h3>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for Mac OS</a></p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for Windows 7</a> </p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for Windows XP</a></p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for iPad</a></p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for iPhone</a></p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for Android</a></p>
        <p>&nbsp;</p>
        <p><a href="http://Leap4.Net/">Leap4.Net Manual for iPhone with L2TP</a> </p>
        <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
</div>