<div id="mainholder">
  <div id="header">
    <div class="main">
      <%= render "navigation" %>
    </div>
  </div>
  <div class="main_content text">
    <h1>Why VPN</h1>
      <p><span id="result_box2">可以穿越您的的ISP,公司网络中对某些网站所设置的访问限制<br />
释放你的网络!一些公司会控制员工的网站访问内容活监视他们的网上活动,如果您不想您的隐私被公司监控，<%= link_to "Leap4Net VPN", root_url %>是一个优秀的解决方案,与您的公司不同,我们不会记录和跟踪你访问的网站. </span><br />
      <br />
      <span id="result_box3">安全且可以匿名访问网络<br />
      当你访问一个新网站的时候,你总是会将自己的IP信息暴露给他们,如果这些信息不慎被恶意流出,那么黑客就可以使用这些信息来尝试入侵你的计算机系统,他们可以获取你的文件或者偷取你的密码.如果使用了我们的服务,你就可以保护你的IP信息不被暴露,<%= link_to "Leap4Net VPN", root_url %>保护你的个人信息并使你成为一个匿名用户.</span></p>
  </div>
</div>