<div id="mainholder">
  <div id="header">
      <div class="main">
        <%= render "navigation" %>
      </div>
  </div>
  <div class="main_content text">
    <h1>Why VPN</h1>
    <p>Unblock websites and applications restricted by your country, ISP or company<br />
    Free up your Internet! No restrictions whatsoever. Some countries are notorious for controlling the content users can view or monitoring their online activities. If you care about your online privacy and freedom, <%= link_to "Leap4.Net", root_url %> VPN is an excellent solution. Unlike your ISP, we do not log and track the websites you have visited.<br />
    <br />
    Secure and Anonymous Internet.<br />
    Every time you visit a new website, you are exposing yourself, leaving a digital fingerprint in the form of an IP address. A hacker may use this information to try to access your computer's files or steal your passwords. By replacing your IP address with ours, <%= link_to "Leap4.Net", root_url %> VPN protects your identity and allows you to become anonymous.</p>
  </div>
</div>