development:
    subject: "Leap4.net"
    url: "https://mapi.alipay.com/gateway.do?"
    service: "create_direct_pay_by_user"
    encoding: "UTF-8"
    payment_type: 1
    seller_email: ""
    partner: ""
    key: "****"
    notify_url: "http://leap4.local/orders/success"
    return_url: "http://leap4.local/orders/notify"
production:
    subject: "Leap4.net"
    url: "https://mapi.alipay.com/gateway.do?"
    service: "create_direct_pay_by_user"
    encoding: "UTF-8"
    payment_type: 1
    seller_email: "****"
    partner: "****"
    key: "*****"
    notify_url: "http://leap4net.sidways.com/orders/success"
    return_url: "http://leap4net.sidways.com/orders/notify"
