# Secrets for authentication using CHAP
# client    server  secret          IP addresses
sidways     *   GX3Ua9l9        *
weston.wei  *   fynvqvLN        *
cameron.ling    *   zJk5TjcE        *
shanhua.chen    *   Mt7TGlEO        *
kalous.zhang    *   iiZ1yYKq        *
ying.xiao   *   ie+DJjb0        *
kim.shen        *       iiZ1yYKq                *
shannon.mao@sidways.com     *   6G7rErBM    *
renee.luo@gmail.com     *   L+4fAG7X    *

#8月底到期
#iloovee.com@gmail.com           *   MGehA9Fc        *

# Sherpa 2013-3-1 2014-4-1

sherpa001       *      4zlH3Ta                  *
sherpa002       *      70nHdq                   *
sherpa003       *      Wv94Tdy                  *
sherpa004       *      jvBg9d3b                 *
sherpa005       *      ZkO04FnrP                        *
sherpa006       *      Ad6GM4u                  *
sherpa007       *      F5Y3iM                   *
sherpa008       *      mgoe61Kl                 *
sherpa009       *      seQv05P                  *
sherpa010       *      H4QDTX4Wk                        *


#1Year Free User
jiafengguo@gmail.com    *   ems@11185   *
anoldstar@gmail.com     *   ems@11185   *
zephyr@me.com           *   L+4fAG7X    *
vanceyeang@yahoo.com    *   w8i@11185   *
tony.lu@hylinkad.com    *   hylinkad    *
#20121220--20131220
ellagrey602@gmail.com   *   Li4fAG7X    *

#New User
###########################################################################################
maoxiaohua@me.com * nm1234567 *
dog.union@gmail.com * ems@11185 *
after3years@hotmail.com * 28846cb7 *
judyxu84@hotmail.com * e0031321 *
teresa.leong@cn.nestle.com * 123456 *
paullookkong@yahoo.com * paulkong *
mutewave@me.com * connie119 *
weixuhong@gmail.com * wxh51448888 *
christina-fyq@hotmail.com * Tsdlrh87 *
gxbsst@gmail.com * d12676ae *
